SimpleMathQuiz.Wpf/obj/Debug/Views/GameView.g.i.cs
SimpleMathQuiz.Wpf/obj/Debug/Views/GameView.g.cs
SimpleMathQuiz.Wpf/obj/Debug/Views/GameView.baml
SimpleMathQuiz.Wpf/obj/Debug/Views/GameSetupView.g.i.cs
SimpleMathQuiz.Wpf/obj/Debug/Views/GameSetupView.g.cs
SimpleMathQuiz.Wpf/obj/Debug/Views/GameSetupView.baml
SimpleMathQuiz.Wpf/obj/Debug/GeneratedInternalTypeHelper.g.cs
SimpleMathQuiz.Wpf/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/
